SSID=<your SSID>
PASSWORD=<your WifiPASSWORD>

# Valid modes: gpio-4bit, gpio-8bit, uart
MODE=gpio-4-bit

# GPIO settings (only used if MODE is gpio-4bit or gpio-8bit)
DATA_PINS=10,11,12,13
VALID_PIN=14
ACK_PIN=15
MIN_HOLD_TIME_MS=10

# UART settings (only used if MODE=uart)
PORT=1
BAUD=9600
BITS=8
PARITY=None
STOP=1
TX_PIN=4
RX_PIN=5
# CTS_PIN=2
# RTS_PIN=3
TIMEOUT_MS=0
